*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 1.2em;
    background-image: url(./img/background/2109.jpg);
    background-size: 360%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: none;
    font-size: 120%;
    background-color: #EEE0E5;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a{
    text-decoration: none;
    color: #00688B;
    display: block;
    padding: 10px 20px;
}

a:hover{
    background-color: #00688B;
    color: #EEE0E5;
    transition-duration: 0.5s;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    font-size: 1.3em;
}

.site-title, .site-subtitle{
    text-align: center;
    color: #828282;   
    font-family: 'Dancing Script', cursive;
}

.site-title{
    font-size: 3em;
}

.site-subtitle{
    font-size: 2em;
    font-style: italic;
}

.img-portfolio{
    width: 200px;
}

.portifolio{
    padding: 2em; 
    background-color: #EEE0E5;
}

.portifolio figure{
    text-align: center;
}

.portifolio h2{
    color: #00688B; 
    margin-bottom: 1.5em;
    font-size: -1em;
}

.figcaption1{
    color: #00688B;
}

.portifolio .grid{
    display: grid;    
    gap: 2em;
    grid-template-columns: 200px;
    justify-content: center;
}

.box-site-title2{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato{
    padding: 2em; 
    background-color: #EEE0E5;
}

.grid-icons{
    text-align: end;
    padding-top: 1em;
}

.grid-icons a{
    justify-content: end;
    list-style: none;  
    color: #00688B;
    font-size: 2.2em;
    padding-left: 0.2em;
}

fieldset{
    width: 69vw;
    height: 42vh;
    display: flex;
    flex-direction: column;
    border-color: #00688b;
    /*justify-content: center;*/
    align-items: center;
    align-content: space-between;
    border-radius: 1em;
}

.nome-caixa{
    font-size: 1.2em;
    padding-bottom: 5px;
    padding-top: 3px;
}

.caixa-escrita{
    width: 15em;
    height: 2.5em;
    font-size: 0.9em;   
}

.caixa-escrita-mens{
    width: 15em;
    height: 8em;
    font-size: 0.9em;
}

.botao-enviar{
    margin: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    border-color: #00688B;
    color: white;
    background-color: #00688b;
    border-radius: 4px;
}

@media (min-width: 450px) and (max-width: 850px) {
    .portifolio .grid{
        grid-template-columns: 200px 200px;
    }
    body{
        background-size: 360%;
    }  
    .site-title{
        font-size: 3em;
    }
    .site-subtitle{
        font-size: 2em;
    }
    body{
        background-size: cover;
    }
    fieldset{
        height: 60vh;
    }
}

@media (min-width: 850px) {
    .portifolio .grid{
        grid-template-columns: 260px 260px 260px;
        justify-content: center;
    }
    .portifolio h2{
        padding-left: 1em;
        font-size: 2.5em;
    }
    .img-portfolio{
        width: 230px;
    }
    body{
        background-size: cover;
    }
    .site-title, .site-title2 {
        font-size: 5em;
    }
    .site-subtitle{
        font-size: 3.5em;
    }
    .grid-icons{
        padding-top: 1em;
        text-align: end;     
    }  
    .grid-icons a{
        list-style: none;  
        color: #00688B;
        font-size: 3em;
        padding-left: 0.2em;
    }
    fieldset{
        width: 260px;
    }
    
}