@media (min-width: 450px) and (max-width: 850px) {
    .portfolio .grid{
        grid-template-columns: 200px 200px;
    }
    body{
        background-size: 360%;
    }  
    .site-title{
        font-size: 3em;
    }
    .site-subtitle{
        font-size: 2em;
    }
    body{
        background-size: cover;
    }
    fieldset{
        height: 60vh;
    }
}

@media (min-width: 850px) {
    .portfolio .grid{
        grid-template-columns: 260px 260px 260px;
        justify-content: center;
    }
    .portfolio h2{
        padding-left: 1em;
        font-size: 2.5em;
    }
    .img-portfolio{
        width: 230px;
    }
    body{
        background-size: cover;
    }
    .site-title {
        font-size: 5em;
    }
    .site-subtitle{
        font-size: 3.5em;
    }
    .grid-icons{
        padding-top: 1em;
        text-align: end;     
    }  
    .grid-icons a{
        list-style: none;  
        color: #00688B;
        font-size: 3em;
        padding-left: 0.2em;
    }
    fieldset{
        width: 260px;
    }
    
}