*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 1.2em;
    background-image: url(../img/background/2109.jpg);
    background-size: 360%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: none;
    font-size: 120%;
    background-color: #EEE0E5;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a{
    text-decoration: none;
    color: #00688B;
    display: block;
    padding: 10px 20px;
}

nav.menu a:hover {
    background-color: #00688B;
    color: #EEE0E5;
    transition-duration: 0.5s;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    font-size: 0.9em;
}

.site-title, .site-subtitle{
    text-align: center;
    color: #828282;   
    font-family: 'Dancing Script', cursive;
}

.site-title{
    font-size: 2.5em;
}

.site-subtitle{
    font-size: 1.5em;
    font-style: italic;
}

.img-portfolio{
    width: 200px;
}

.portfolio{
    padding: 2em; 
    background-color: #EEE0E5;
}

.portfolio figure{
    text-align: center;
}

.portfolio h2, .contato h2{
    color: #00688B; 
    margin-bottom: 1.5em;
    font-size: -1em;
}

.figcaption1{
    color: #00688B;
}

.portfolio .grid{
    display: grid;    
    gap: 2em;
    grid-template-columns: 200px;
    justify-content: center;
}

.box-site-title2{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato{
    padding: 2em; 
    background-color: #EEE0E5;
}

.grid-icons{
    text-align: end;
    padding-top: 1em;
}

.grid-icons a{
    justify-content: end;
    list-style: none;  
    color: #00688B;
    font-size: 2.2em;
}

fieldset{
    width: 69vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border-radius: 1em; 
    border-color: #00688b;
}

.nome-caixa{
    font-size: 1.2em;
    padding-bottom: 5px;
    padding-top: 3px;
}

.caixa-escrita{
    width: 12em;
    height: 2em;
    font-size: 0.9em;   
}

.caixa-escrita-mens{
    width: 12em;
    height: 2em;
    font-size: 0.9em;
}

.botao-enviar{
    margin: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    border-color: #00688B;
    color: white;
    background-color: #00688b;
    border-radius: 4px;
}